
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Proyecto</title>
</head>
<body>
    <h1>Detalle del Proyecto</h1>
    <p><strong>ID:</strong><span th:text="${proyecto.id}"></span> </p>
    <p><strong>Nombre:</strong> <span th:text="${proyecto.nombre}"></span></p>
    <p><strong>Presupuesto Máximo:</strong> <span th:text="${proyecto.presupuestoMaximo}"></span></p>
    <p><strong>Fecha de Inicio:</strong> <span th:text="${proyecto.fechaInicio}"></span></p>
    <h2>Tareas</h2>
    <ul>
        {% for tarea in proyecto.tareas %}
            <li>{{ tarea.descripcion }} - {{ tarea.horasEjecutadas }} horas ejecutadas</li>
        {% endfor %}
    </ul>
    <a href="/proyectos">Volver a la lista de proyectos</a>
</body>
</html>