
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Proyectos</title>
</head>
<body>
    <h1>Lista de Proyectos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Presup Max</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="proyecto : ${proyectos}">
                <td>
                    <a th:href="@{/proyectos/{id}(id=${proyecto.id})}" th:text="${proyecto.id}"></a>
                </td>
                <td th:text="${proyecto.nombre}"></td>
                <td th:text="${proyecto.presupuestoMaximo}"></td>
            </tr>
        </tbody>
    </table>
    <p><a th:href="@{/}">Menu</a></p>
</body>
</html>